body::before {
  content: "";
  position: fixed;
  top: 60;
  left: 0;
  background: url("/static/img/pox2021.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25%;
  opacity: 0.1;
  width: 90%;
  height: 90%;
}

#main .scoreboard table {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

#main .scoreboard table tr:nth-child(1) {
  box-shadow: inset 4px 0px 0 #ffd700;
}
#main .scoreboard table tr:nth-child(2) {
  box-shadow: inset 4px 0px 0 #c0c0c0;
}
#main .scoreboard table tr:nth-child(3) {
  box-shadow: inset 4px 0px 0 #624637;
}

#main .scoreboard table td {
  border-bottom: 1px solid #833a;
  padding: 10pt;
}

#main .scoreboard table td:first-child {
  width: 15pt;
}
#main .scoreboard table td.bingo {
  width: 15pt;
  padding: 5px;
}

#main .scoreboard table td.bingo[data-bingo="0"] {
  color: #151515;
}

#main .scoreboard table td.image[data-bingo="1"],
#main .scoreboard table td.image[data-bingo="2"],
#main .scoreboard table td.image[data-bingo="3"],
#main .scoreboard table td.image[data-bingo="4"],
#main .scoreboard table td.image[data-bingo="5"],
#main .scoreboard table td.image[data-bingo="6"],
#main .scoreboard table td.image[data-bingo="7"],
#main .scoreboard table td.image[data-bingo="8"],
#main .scoreboard table td.image[data-bingo="9"],
#main .scoreboard table td.image[data-bingo="10"],
#main .scoreboard table td.image[data-bingo="11"],
#main .scoreboard table td.image[data-bingo="12"] {
  width: 15pt;
  background-image: url("/static/img/hkcmp.png");
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(8.2%);
}

#main .scoreboard table td:last-child {
  width: 80pt;
}

#top5_graph {
  width: 800px;
  height: 350px;
  margin: 0 auto;
}

.canvasjs-chart-credit {
  display: none !important;
}

@media (max-width: 1000px) {
  #main .scoreboard table {
    width: 80%;
  }
}
